.cache/*
.venv/*

# secrets
certs/*
!certs/.gitkeep
*.crt
secrets.*
vault.txt

# ansible
**/test.yml
**/testca/vault/vault*

# terraform
**.terraform/*
*.tfstate
*.tstate.*
tf_ansible_*

# packer
*.pkrvars.hcl
**/builds/*
*.packer_cache
*.packer_plugins
output/*
logs/*

# vagrant
**/.vagrant/*

# nomad
input.vars

.vscode
