.cache/*
.venv/*

# ansible
**/test.yml
**/testca/vault/vault*

# terraform
**.terraform/*
*.tfstate
*.tstate.*
*.tfvars
tf_ansible_*

# packer
*.pkrvars.hcl
**/builds/*
*.packer_cache
output/*
logs/*

# vagrant
**/.vagrant/*

# nomad
input.vars
