[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "homelab cluster"

[packages]
python-hcl2 = "*"
ansible = "*"
ansible-lint = "*"
pre-commit = "==3.3.3"
pre-commit-hooks = "*"
molecule = "*"
molecule-vagrant = "*"
pyyaml = "*"
virtualenv = "*"

[dev-packages]
docker = "*"
yamllint = "*"
ansible-lint = "*"

[requires]
python_version = "3.11"
