[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "homelab"

[packages]
ansible = "*"
netaddr = "*"
pre-commit = "*"
pre-commit-hooks = "*"
molecule-vagrant = "*"
yamllint = "*"
ansible-lint = "*"
jsondiff = "*"
zfs-autobackup = "*"
jmespath = "*"
molecule = {extras = ["docker"], version = "*"}
molecule-plugins = {extras = ["docker"], version = "*"}
ansible-core = "*"

[dev-packages]
docker = "*"
yamllint = "*"
ansible-lint = "*"

[requires]
python_version = "3.11"
