logfile /var/log/ha-log
logfacility local0

keepalive 1
deadtime 10
warntime 5
initdead 60

udpport {{ drbd_unicast_port }}
{% for h in groups['heartbeat_cluster'] %}
ucast {{ drbd_iface }} {{ hostvars[h]['ansible_'+ drbd_iface]['ipv4']['address'] }}
{% endfor %}

bcast {{ drbd_iface }}
auto_failback off

{% for h in groups['heartbeat_cluster'] %}
node {{ hostvars[h]['inventory_hostname_short'] }}
{% endfor %}
