disable_mlock = true

ui = true

cluster_addr  = "http://127.0.0.1:8201"
api_addr      = "http://127.0.0.1:8200"

backend "consul" {
  address = "127.0.0.1:8500"
  scheme = "http"
  path = "vault/"
}

listener "tcp" {
  address       = "127.0.0.1:8200"
  tls_disable = 1
  telemetry {
    unauthenticated_metrics_access = true
  }
}
