disable_mlock = true

backend "consul" {
  address = "{{ ansible_default_ipv4.address }}:8500"
  path = "vault/"
}

listener "tcp" {
  address = "0.0.0.0:8200"
  tls_disable = 1
  telemetry {
    unauthenticated_metrics_access = true
  }
}
