global {
	usage-count yes;
}

common {
{% for section in drbd_common.keys() %}
  {{ section }} {
{%   for line in drbd_common[section].splitlines() %}
    {{ line }}
{%   endfor %}
  }
{% endfor %}
}
