datacenter            = "{{ consul_datacenter }}"
data_dir              = "{{ consul_data_directory }}"
node_name             = "{{ ansible_hostname }}"
domain                = "{{ consul_domain }}"
log_level             = "{{ consul_log_level }}"
log_rotate_bytes      = {{ consul_log_rotate_bytes }}
log_rotate_duration   = "{{ consul_log_rotate_duration }}"
log_rotate_max_files  = {{ consul_log_rotate_max_files }}
protocol              = {{ consul_protocol }}
raft_protocol         = {{ consul_raft_protocol }}

encrypt                   = "{{ consul_gossip_key }}"
encrypt_verify_incoming   = {{ consul_encrypt_verify_incoming | bool | lower }}
encrypt_verify_outgoing   = {{ consul_encrypt_verify_outgoing | bool | lower }}

primary_datacenter        = "{{ consul_datacenter }}"
acl {
  enabled                   = true
  default_policy            = "{{ consul_acl_default_policy }}"
  down_policy               = "{{ consul_acl_down_policy }}"
  token_ttl                 = "{{ consul_acl_ttl }}"
  enable_token_persistence  = {{ consul_acl_token_persistence | bool | lower }}
  tokens {
    default                 = "{{ consul_acl_token }}"
    agent                   = "{{ consul_acl_agent_token }}"
    agent_recovery          = "{{ consul_acl_agent_master_token }}"
    initial_management      = "{{ consul_acl_master_token }}"
    replication             = "{{ consul_acl_replication_token }}"
  }
}

retry_interval  = "{{ consul_retry_interval }}",
retry_max       = {{ consul_retry_max | int }},
retry_join      = [{% for h in groups['consul_server']%}"{{ hostvars[h].ansible_host }}"{% if not loop.last %},{% endif %}{% endfor %}]

bind_addr               = "{{ consul_bind_address }}"
advertise_addr          = "{{ consul_advertise_address }}"
advertise_addr_wan      = "{{ consul_advertise_address_wan }}"
translate_wan_addrs     = {{ consul_translate_wan_address | bool | lower }}
client_addr             = "{{ consul_client_address }}"
addresses {
  dns       = "{{ consul_addresses.dns }}"
  http      = "{{ consul_addresses.http }}"
  https     = "{{ consul_addresses.https }}"
  grpc      = "{{ consul_addresses.grpc }}"
  grpc_tls  = "{{ consul_addresses.grpc_tls }}"
}

ports {
  dns         = {{ consul_ports.dns }}
  http        = {{ consul_ports.http }}
  https       = {{ consul_ports.https }}
  grpc        = {{ consul_ports.grpc }}
  grpc_tls    = {{ consul_ports.grpc_tls }}
  serf_lan    = {{ consul_ports.serf_lan }}
  serf_wan    = {{ consul_ports.serf_wan }}
  server      = {{ consul_ports.server }}
}

performance {
  raft_multiplier   = {{ consul_raft_multiplier }}
  leave_drain_time  = "{{ consul_leave_drain_time }}"
  rpc_hold_timeout  = "{{ consul_rpc_hold_timeout }}"
}
