datacenter = "{{ consul_datacenter }}"
data_dir   = "{{ consul_data_directory }}"
node_name  = "{{ ansible_hostname }}"
domain     = "{{ consul_domain }}"
log_level  = "INFO"
protocol   = {{ consul_protocol }}

{% if consul_gossip_key is defined %}
encrypt = "{{ consul_gossip_key }}"
{% endif %}

acl {
  enabled        = true
  default_policy = "deny"
  down_policy    = "extend-cache"
}

tls {
  defaults {
    ca_file                = "{{ consul_agent_ca_file }}"
    cert_file              = "{{ consul_cert_file }}"
    key_file               = "{{ consul_key_file }}"
    verify_incoming        = true
    verify_outgoing        = true
    tls_min_version        = "{{ consul_tls_min_version }}"
  }
  internal_rpc {
    verify_server_hostname = true
  }
}

ports {
  dns      = {{ consul_port_dns }}
  http     = {{ consul_port_http }}
  https    = {{ consul_port_https }}
  grpc     = {{ consul_port_grpc }}
  serf_lan = {{ consul_port_serf_lan }}
  serf_wan = {{ consul_port_serf_wan }}
  server   = {{ consul_port_server }}
}

retry_join = [{% for h in groups['consul_server']%}"{{ hostvars[h].ansible_host }}"{% if not loop.last %},{% endif %}{% endfor %}]

client_addr    = "{{ consul_client_addr }}"
advertise_addr = "{{ consul_advertise_addr }}"

performance {
  raft_multiplier = {{ consul_raft_multiplier }}
}
