# ----------------------------------------- General Info
"datacenter" = "{{ consul_datacenter }}"  # NOTE: changing the datacenter requires generating new certificates
"node_name"  = "{{ inventory_hostname }}"
"domain"     = "consul"
{% if 'consul_server' in group_names %}
"server"    = true
"ui_config" = {
  "enabled" = true
}
{% endif %}

# ----------------------------------------- Files and Logs
"data_dir" = "{{ consul_data_dir }}"
"log_file" = "/var/log/consul.log"
"log_level" = "info"

"log_rotate_max_files" = 5
"enable_syslog"        = false

# ----------------------------------------- Networking
"addresses" = {
  "dns"   = "0.0.0.0"
  "grpc"  = "0.0.0.0"
  "http"  = "0.0.0.0"
  "https" = "0.0.0.0"
}
"ports" = {
  "dns"     = 8600
  "http"    = 8500
  "server"  = 8300
}

"advertise_addr"      = "{{ ansible_default_ipv4.address }}"
"bind_addr"           = "{{ ansible_default_ipv4.address }}"
"client_addr"         = "{{ ansible_default_ipv4.address }}"
"retry_interval"      = "30s"
"retry_interval_wan"  = "30s"
"retry_join"          = [{% for h in groups['consul_server']%}"{{ hostvars[h].ansible_host }}"{% if not loop.last %},{% endif %}{% endfor %}]

# ----------------------------------------- Security

"acl" = {
  enabled                   = false
  default_policy            = "allow"
  enable_token_persistence  = true
}

# ----------------------------------------- Cluster Operations

{% if consul_bootstrap_node is defined %}
{% if consul_bootstrap_node %}
"bootstrap"                   = true
{% endif %}
{% endif %}
"disable_update_check"       = false
"enable_local_script_checks" = false
"enable_script_checks"       = false
"skip_leave_on_interrupt"    = true
"leave_on_terminate"         = false
"primary_datacenter"         = "{{ consul_datacenter }}"
"performance"                = {
  "leave_drain_time" = "5s"
  "raft_multiplier"  = 1
  "rpc_hold_timeout" = "7s"
}
